.gigaide/
.idea/
.venv/
.flake8
__pycache__/
__pycache__.py
commands/__pycache__/
commands/__pycache__.py
file_system/__pycache__/
file_system/__pycache__.py
abstract/__pycache__/
abstract/__pycache__.py
